# {{ ansible_managed }}
server {
    listen 443 ssl http2 default_server;
    listen [::]:443 ssl http2 default_server; # Listen on IPv6

    ssl_certificate /etc/letsencrypt/live/{{ inventory_hostname }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ inventory_hostname }}/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

    server_name {{ inventory_hostname }};

    # If you forget to put the header buffer settings in your Nginx vhost configs,
    # you will end up with malfunctioning Grafana graphs.
    large_client_header_buffers 4 256k;
    http2_max_header_size 256k;
    http2_max_field_size  256k;

    proxy_set_header   Host                $host;
    proxy_set_header   X-Real-IP           $remote_addr;
    proxy_set_header   X-Forwarded-For     $proxy_add_x_forwarded_for;
    proxy_set_header   X-Forwarded-Proto   $scheme;
    proxy_set_header   X-Forwarded-Host    $host:443;
    proxy_set_header   X-Forwarded-Server  $host;
    proxy_set_header   X-Forwarded-Port    443;

    gzip_types *;

    location / {
        proxy_redirect    off;
        proxy_pass        http://@grafana/;
    }

    location /prometheus/ {
        proxy_pass        http://@prometheus/prometheus/;
        auth_basic            "Restricted";
        auth_basic_user_file  auth_basic/monitoring;
    }

    location /alertmanager/ {
        proxy_pass        http://@alertmanager/;
        auth_basic            "Restricted";
        auth_basic_user_file  auth_basic/monitoring;
    }

    location /blackbox/ {
        proxy_pass        http://@blackbox/;
        auth_basic            "Restricted";
        auth_basic_user_file  auth_basic/monitoring;
    }
}
